<!DOCTYPE html>

<html lang="zh-cn">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <title>调研问卷编辑</title>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/css/font-awesome.min.css" rel="stylesheet" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/css/bootstrap-override.css" rel="stylesheet" />
    <link href="/Content/css/style.default.css?v=1" rel="stylesheet">
    <link href="/Content/kendo/2014.3.1119/kendo.common-bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/kendo/2014.3.1119/kendo.common-bootstrap.core.min.css" rel="stylesheet" />
    <link href="/Content/kendo/2014.3.1119/kendo.bootstrap.min.css" rel="stylesheet" />
    <link href="/Scripts/Lightbox2.6/css/lightbox.css" rel="stylesheet" />

    <script src="/Scripts/jquery-1.11.1.min.js"></script>
    <script src="/Scripts/jquery.cookies.js"></script>
    <!--[if lt IE 9]>
    <script src="/Scripts/html5shiv.js"></script>
    <script src="/Scripts/respond.min.js"></script>
    <![endif]-->

    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/vue.min.js"></script>
    <script src="/Scripts/kendo/2014.3.1119/kendo.core.min.js"></script>
    <script src="/Scripts/LMS/base.js"></script>
    <style type="text/css">
        #formBuilder .formcontainer {
            margin: 2px;
            padding: 10px;
            border: 1px solid #eee;
            min-height: 800px;
        }

        #formBuilder .formcontainer .field {
            margin: 10px 2px;
            padding: 10px;
            border: none;
            /* 1px dotted #636e7b;*/
            position: relative;
        }

        #formBuilder .formcontainer .field:hover {
            padding: 8px;
            border: 2px dotted #428bca;
            border-radius: 5px;
        }

        #formBuilder .formcontainer .field .action {
            display: none;
        }

        #formBuilder .formcontainer .field.active {
            padding: 8px;
            border: 2px solid #428bca;
            border-radius: 5px;
        }

        #formBuilder .formcontainer .field:hover .action {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        #formBuilder .formcontainer .field:hover .action button {
            color: #337ab7;
        }

        #formBuilder .formcontainer .fieldContent {
            padding: 20px;
        }

        #formBuilder .formcontainer .placeholder {
            margin: 5px;
            padding: 5px;
            height: 60px;
            border: 1px dotted grey;
            background: rgba(255, 240, 120, 0.7);
        }

        .placeholder:before {
            content: "拖放到这里";
        }

        #formBuilder .controls {
            margin: 0 auto;
            padding: 2px;
        }

        #formBuilder .controls a {
            width: 49%;
            margin-bottom: 4px;
        }

        .field.MatrixSelection table td,
        .field.MatrixSelection table th {
            text-align: center;
        }

        .options table {
            border-collapse: collapse;
        }

        .options table td input[type=text] {
            margin: 2px auto;
            width: 90%;
        }

        .options table td input[type=checkbox] {
            margin: 0 auto;
            display: block;
        }

        .rating {
            unicode-bidi: bidi-override;
            direction: rtl;
            font-size: 20px;
        }

        .rating span.star {
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            display: inline-block;
        }

        .rating span.star:before {
            content: "\f006";
            padding-right: 5px;
            color: #777;
        }

        .option td input {
            width: 50px;
        }

        .panel-default > .panel-heading {
            background-color: #428bca;
            border-bottom: none;
            height: 30px;
            line-height: 0;
            color: #fff;
        }

        .pannel-min-width {
            width: 1200px;
        }

        .pannel-width-375 {
            width: 375px;
        }

        .fieldContent input[type=checkbox],
        .fieldContent input[type=radio] {
            width: 16px;
            height: 16px;
            vertical-align: top;
            margin: 3px auto;
        }

        .align-style {
            font-size: 14px;
            line-height: 22px;
        }

        .align-style input {
            margin-top: 3px;
        }

        .align-style span {
            vertical-align: middle;
        }

        .application input[type=checkbox] {
            vertical-align: top;
        }

        #portamento_container {
            float: right;
            position: relative;
        }
        /* take the positioning of the sidebar, and become the start point for the sidebar positioning */

        #portamento_container #fixControll {
            float: none;
            position: absolute
        }
        /* no need to float anymore, become absolutely positoned */

        #portamento_container #fixControll.fixed {
            position: fixed
        }
        /* if the panel is sliding, it needs position:fixed */

        .table-bordered>thead>tr>td,
        .table-bordered>thead>tr>th,
        .table-bordered>tbody>tr>td {
            border-bottom: none;
        }

        .table>tbody+tbody {
            border-top: solid 1px #ddd;
        }

        .table>thead>tr>th {
            vertical-align: middle;
            text-align: center;
        }

        .table>tbody>tr>td {
            vertical-align: middle;
        }

        .table>tbody>tr>td> input {
            border: solid 1px #ccc;
            padding: 5px;
            border-radius: 3px;
            outline: none;
        }

        .btn-sm {
            padding: 5px 6px;
        }
    </style>
</head>

<body id="formBuilder">
    <div class="container">
        <div class="row">
            <form action="/QCS/Paper/Edit/40" method="post">
                <div  id="designer">
                    <textarea cols="20" id="Questions" name="Questions" rows="2" style="display:none">
                        System.Collections.Generic.List`1[LMS.Services.QCS.Dto.QCSQuestionItem]
                    </textarea>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="formcontainer" dropable="true" v-on:dragover="onDragOver" v-on:dragenter="onDragEnter" v-on:drop="onDrop">
                                <template v-for="(qi,item)  in fields">
                                    <template v-if="item.type == 1">
                                        <div class="field SingleChoice" v-bind:class="{ active : item.active }" v-on:click="setActive" data-id="{{ qi }}" draggable="true" v-on:dragstart="onDragStart"
                                             v-on:dragend="onDragEnd">
                                            <div class="fieldTitle">{{ qi+1 }} {{item.title}}</div>
                                            <div class="fieldContent">
                                                <template v-for="option in item.options">
                                                    <label class="align-style">
                                                        <span>{{ getchar($index) }}</span>
                                                        <input type="radio" name="q{{qi}}" class="radio-inline" onclick="return false">
                                                        <span>{{option.text}}</span>
                                                        <span v-if="option.remarkable" class="label label-info">需要备注</span>
                                                    </label>
                                                    <br />
                                                </template>
                                            </div>
                                            <div class="action">
                                                <a href="javascript:void(0)" class="btn" v-show="!isFirst(qi)" v-on:click="moveUp" role="button" title="上移"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                                                <a href="javascript:void(0)" class="btn" v-show="!isLast(qi)" v-on:click="moveDown" role="button" title="下移"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                                                <a href="javascript:void(0)" class="btn" v-on:click="delField" role="button" title="删除"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </template>

                                    <template v-if="item.type == 2">
                                        <div class="field MultiChoice" v-bind:class="{ active : item.active }" v-on:click="setActive" data-id="{{ qi }}" draggable="true" v-on:dragstart="onDragStart"
                                             v-on:dragend="onDragEnd">
                                            <div class="fieldTitle">{{ qi+1 }} {{item.title}}</div>
                                            <div class="fieldContent">
                                                <template v-for="option in item.options">
                                                    <label class="align-style">
                                                        <span>{{ getchar($index) }}</span>
                                                        <input type="checkbox" name="q{{qi}}" class="checkbox-inline" onclick="return false" />
                                                        <span>{{option.text}}</span>
                                                        <span v-if="option.remarkable" class="label label-info">需要备注</span>
                                                    </label>
                                                    <br />
                                                </template>
                                            </div>
                                            <div class="action">
                                                <a href="javascript:void(0)" class="btn" v-show="!isFirst(qi)" v-on:click="moveUp" role="button" title="上移"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                                                <a href="javascript:void(0)" class="btn" v-show="!isLast(qi)" v-on:click="moveDown" role="button" title="下移"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                                                <a href="javascript:void(0)" class="btn" v-on:click="delField" role="button" title="删除"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </template>

                                    <template v-if="item.type == 3">
                                        <div class="field AnswerQuestion" v-bind:class="{ active : item.active }" v-on:click="setActive" data-id="{{ qi }}" draggable="true" v-on:dragstart="onDragStart"
                                             v-on:dragend="onDragEnd">
                                            <div class="fieldTitle">{{ qi+1 }} {{item.title}}</div>
                                            <div class="fieldContent">
                                                <textarea class="form-control" readonly></textarea>
                                            </div>

                                            <div class="action">
                                                <a href="javascript:void(0)" class="btn" v-show="!isFirst(qi)" v-on:click="moveUp" role="button" title="上移"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                                                <a href="javascript:void(0)" class="btn" v-show="!isLast(qi)" v-on:click="moveDown" role="button" title="下移"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                                                <a href="javascript:void(0)" class="btn" v-on:click="delField" role="button" title="删除"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </template>

                                    <template v-if="item.type == 4">
                                        <div class="field ScoreQuestion" v-bind:class="{ active : item.active }" v-on:click="setActive" data-id="{{ qi }}" draggable="true" v-on:dragstart="onDragStart"
                                             v-on:dragend="onDragEnd">
                                            <div class="fieldTitle">{{ qi+1 }} {{item.title}}</div>
                                            <div class="fieldContent">
                                                <span class="rating">
                                                    <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                                                </span>
                                            </div>

                                            <div class="action">
                                                <a href="javascript:void(0)" class="btn" v-show="!isFirst(qi)" v-on:click="moveUp" role="button" title="上移"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                                                <a href="javascript:void(0)" class="btn" v-show="!isLast(qi)" v-on:click="moveDown" role="button" title="下移"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                                                <a href="javascript:void(0)" class="btn" v-on:click="delField" role="button" title="删除"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </template>

                                    <template v-if="item.type == 5">
                                        <div class="field MatrixSelection" v-bind:class="{ active : item.active }" v-on:click="setActive" data-id="{{ qi }}" draggable="true" v-on:dragstart="onDragStart"
                                             v-on:dragend="onDragEnd">
                                            <div class="fieldTitle">{{ qi+1 }} {{item.title}}</div>
                                            <div class="fieldContent">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <template v-for="(i,option ) in item.options">
                                                                <td>{{option.text}}</td>
                                                            </template>
                                                        </tr>
                                                    </thead>
                                                    <tbody v-for="(j,question) in item.subQuestions">
                                                        <tr>
                                                            <td>{{question.text}}</td>
                                                            <template v-for="option in item.options">
                                                                <td><input name="ms_{{qi}}_{{j}}" type="radio" class="form-control" onclick="return false"></td>
                                                            </template>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="action">
                                                <a href="javascript:void(0)" class="btn" v-show="!isFirst(qi)" v-on:click="moveUp" role="button" title="上移"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                                                <a href="javascript:void(0)" class="btn" v-show="!isLast(qi)" v-on:click="moveDown" role="button" title="下移"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                                                <a href="javascript:void(0)" class="btn" v-on:click="delField" role="button" title="删除"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </template>
                                </template>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="fixControll" class="pannel-width-375">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        &nbsp;
                                    </div>
                                    <div class="panel-body">
                                        <div class="controls">
                                            <a href="javascript:void(0);" class="btn btn-default" data-field-type="1" draggable="true" v-on:dragstart="onDragStart" v-on:dragend="onDragEnd"><i class="fa fa-check-circle-o" aria-hidden="true"></i> 单选题</a>
                                            <a href="javascript:void(0);" class="btn btn-default" data-field-type="2" draggable="true" v-on:dragstart="onDragStart" v-on:dragend="onDragEnd"><i class="fa fa-check-square-o" aria-hidden="true"></i> 多选题</a>
                                            <a href="javascript:void(0);" class="btn btn-default" data-field-type="3" draggable="true" v-on:dragstart="onDragStart" v-on:dragend="onDragEnd"><i class="fa fa-file-text-o" aria-hidden="true"></i> 问答</a>
                                            <a href="javascript:void(0);" class="btn btn-default" data-field-type="4" draggable="true" v-on:dragstart="onDragStart" v-on:dragend="onDragEnd"><i class="fa fa-star" aria-hidden="true"></i> 评分</a>
                                            <a href="javascript:void(0);" class="btn btn-default" data-field-type="5" draggable="true" v-on:dragstart="onDragStart" v-on:dragend="onDragEnd"><i class="fa fa-table" aria-hidden="true"></i> 矩阵选择题</a>

                                        </div>
                                    </div>
                                </div>
                                <div class="settings">
                                    <template v-for="(qi,item) in fields">
                                        <template v-if="item.type == 1">
                                            <div class="panel panel-default" v-show="item.active">
                                                <div class="panel-heading">
                                                    {{qi+1}} 单选题设置
                                                </div>
                                                <div class="panel-body">
                                                    <div class="fb-edit-section-header mb5">题目</div>
                                                    <input class="form-control mb15" type="text" v-model="item.title" />
                                                    <div class="fb-edit-section-header mb5">选项</div>
                                                    <div class="options">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>选项文本</th>
                                                                    <th>需要备注</th>
                                                                    <th>关联题编号</th>
                                                                    <th>得分</th>
                                                                    <th style="width:65px;">&nbsp;</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="option" v-for="option in item.options">
                                                                    <td>
                                                                        <input type="text" class="form-control" v-model="option.text">

                                                                    </td>
                                                                    <td>
                                                                        <input type="checkbox" v-model="option.remarkable" />
                                                                    </td>
                                                                    <td>
                                                                        <a class="btn" role="button" v-on:click="selAssQuestion" v-text="option.associationId"></a>
                                                                    </td>
                                                                    <td>
                                                                        <input type="number" v-model="option.score" />
                                                                    </td>
                                                                    <td>
                                                                        <a class="btn btn-sm" href="javascript:void(0);" title="添加选项" v-on:click="addOption"><i class="fa fa-plus"></i></a>
                                                                        <a class="btn btn-sm" href="javascript:void(0);" title="删除选项" v-on:click="removeOption"><i class="fa fa-minus"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </template>

                                        <template v-if="item.type == 2">
                                            <div class="panel panel-default" v-show="item.active">
                                                <div class="panel-heading">
                                                    {{qi+1}} 多选题设置
                                                </div>
                                                <div class="panel-body">
                                                    <div class="fb-edit-section-header mb5">题目</div>
                                                    <input class="form-control mb15" type="text" v-model="item.title" />
                                                    <div class="fb-edit-section-header mb5">选项</div>
                                                    <div class="options">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>选项文本</th>
                                                                    <th>需要备注</th>
                                                                    <th>关联题编号</th>
                                                                    <th>得分</th>
                                                                    <th style="width:65px;">&nbsp;</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="option" v-for="option in item.options">
                                                                    <td>
                                                                        <input type="text" v-model="option.text">

                                                                    </td>
                                                                    <td>
                                                                        <input type="checkbox" v-model="option.remarkable" />
                                                                    </td>
                                                                    <td>
                                                                        <a class="btn" role="button" v-on:click="selAssQuestion" v-text="option.associationId"></a>
                                                                    </td>
                                                                    <td>
                                                                        <input type="number" v-model="option.score" />
                                                                    </td>
                                                                    <td>
                                                                        <a class="btn btn-sm" href="javascript:void(0);" title="添加选项" v-on:click="addOption"><i class="fa fa-plus"></i></a>
                                                                        <a class="btn btn-sm" href="javascript:void(0);" title="删除选项" v-on:click="removeOption"><i class="fa fa-minus"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </template>

                                        <template v-if="item.type == 3">
                                            <div class="panel panel-default" v-show="item.active">
                                                <div class="panel-heading">
                                                    {{qi+1}} 问答题设置
                                                </div>
                                                <div class="panel-body">
                                                    <div class="fb-edit-section-header mb5">题目</div>
                                                    <input type="text" class="form-control" v-model="item.title" />
                                                </div>
                                            </div>
                                        </template>

                                        <template v-if="item.type == 4">
                                            <div class="panel panel-default" v-show="item.active">
                                                <div class="panel-heading">
                                                    {{qi+1}} 评分题设置
                                                </div>
                                                <div class="panel-body">
                                                    <div class="fb-edit-section-header mb5">题目</div>
                                                    <input class="form-control mb15" type="text" v-model="item.title" />
                                                    <div class="fb-edit-section-header mb5">得分</div>
                                                    <input class="form-control" type="number" v-model="item.score" />
                                                </div>
                                            </div>
                                        </template>

                                        <template v-if="item.type == 5">
                                            <div class="panel panel-default" v-show="item.active">
                                                <div class="panel-heading">
                                                    {{qi+1}} 矩阵选择题设置
                                                </div>
                                                <div class="panel-body">
                                                    <div class="fb-edit-section-header mb5">题目</div>
                                                    <input class="form-control mb10" data-target=".field-label" type="text" v-model="item.title" />

                                                    <div class="options">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>子题目描述</th>
                                                                    <th style="width:65px;">&nbsp;</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody v-for="subTitle of item.subQuestions">

                                                                <tr class="option">
                                                                    <td><input type="text" v-model="subTitle.text"></td>
                                                                    <td>
                                                                        <a class="btn btn-sm" href="javascript:void(0);" title="添加子问题" v-on:click="addSubTitle"><i class="fa fa-plus"></i></a>
                                                                        <a class="btn btn-sm" href="javascript:void(0);" title="删除子问题" v-on:click="removeSubTitle"><i class="fa fa-minus"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="fb-edit-section-header mb5">选项</div>
                                                    <div class="options">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>选项文本</th>
                                                                    <th>得分</th>
                                                                    <th style="width:80px;">&nbsp;</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="option" v-for="option in item.options">
                                                                    <td><input type="text" v-model="option.text"></td>
                                                                    <td><input type="number" v-model="option.score" /></td>
                                                                    <td>
                                                                        <a class="btn btn-sm" href="javascript:void(0);" title="添加选项" v-on:click="addOption"><i class="fa fa-plus"></i></a>
                                                                        <a class="btn btn-sm" href="javascript:void(0);" title="删除选项" v-on:click="removeOption"><i class="fa fa-minus"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </template>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <textarea id="QuestionJson" name="QuestionJson" style="display:none">
                        [
                        {
                        "id": "Afd6034177f8a4e5cab3f4f5f1d78146e",
                        "type": 1,
                        "title": "本次培训时间",
                        "subQuestions": null,
                        "options": [
                        {
                        "id": "Aa4412f44f337433d8831ad5814fef825",
                        "text": "2015年9月",
                        "score": 30.0,
                        "remarkable": false,
                        "remark": "",
                        "associationId": 0
                        },
                        {
                        "id": "Aab2694a3ce404ed8b4f1700122facf32",
                        "text": "2015年8月",
                        "score": 0.0,
                        "remarkable": false,
                        "remark": "",
                        "associationId": 0
                        },
                        {
                        "id": "Abe732a069a934b3cbbc211d93583a56e",
                        "text": "2015年7月",
                        "score": 0.0,
                        "remarkable": false,
                        "remark": "",
                        "associationId": 1
                        }
                        ],
                        "score": 0,
                        "remark": "一个单选题示例",
                        "active": false
                        },
                        {
                        "id": "A8cfd64ae79914cbb86c78b3babcc0eed",
                        "type": 2,
                        "title": "百分比",
                        "subQuestions": null,
                        "options": [
                        {
                        "id": "A6270b090abbf4491a2f21a8c5a7b7d44",
                        "text": "20%",
                        "score": 30.0,
                        "remarkable": false,
                        "remark": "",
                        "associationId": 0
                        },
                        {
                        "id": "A9436d6def491443d8aba28e7589b6fa2",
                        "text": "40%",
                        "score": 20.0,
                        "remarkable": false,
                        "remark": "",
                        "associationId": 0
                        },
                        {
                        "id": "A92a15f131f24466f9d7275456151f9ea",
                        "text": "50%",
                        "score": 10.0,
                        "remarkable": true,
                        "remark": "",
                        "associationId": 0
                        }
                        ],
                        "score": 0,
                        "remark": "一个多选题示例",
                        "active": false
                        },
                        {
                        "id": "A0052a78075e9487d883a13b8990c3237",
                        "type": 3,
                        "title": "你觉得QCS项目有成效吗？",
                        "subQuestions": null,
                        "options": null,
                        "score": 0,
                        "remark": "",
                        "active": false
                        },
                        {
                        "id": "Adaf1a545fa164ea79404a1d7b5d8bf84",
                        "type": 5,
                        "title": "矩阵选择题？",
                        "subQuestions": [
                        {
                        "id": "A532d6805678641449b89b58740680c33",
                        "text": "问题一"
                        },
                        {
                        "id": "A7bf9598a40b042909a6da3ee25b4c158",
                        "text": "问题二"
                        },
                        {
                        "id": "Aacf9c0b587754c55a58a13c88bd60c99",
                        "text": "问题三"
                        }
                        ],
                        "options": [
                        {
                        "id": "A4b7639610a3446ef95cfb03d0f0d5812",
                        "text": "满意",
                        "score": 30.0,
                        "remarkable": false,
                        "remark": "",
                        "associationId": 0
                        },
                        {
                        "id": "Aab633f960ddb4700ac8099a239a45286",
                        "text": "一般",
                        "score": 20.0,
                        "remarkable": false,
                        "remark": "",
                        "associationId": 0
                        },
                        {
                        "id": "A3322ece4c54d4ab0941cc7349cbbaa2a",
                        "text": "不满意",
                        "score": 10.0,
                        "remarkable": false,
                        "remark": "",
                        "associationId": 0
                        }
                        ],
                        "score": 0,
                        "remark": "一个矩阵示例",
                        "active": false
                        },
                        {
                        "id": "A2dde0a6871474c10b5160a890d73ea8b",
                        "type": 4,
                        "title": "评分题描述？",
                        "subQuestions": null,
                        "options": null,
                        "score": 30,
                        "remark": "一个评分题示例",
                        "active": true
                        }
                        ]
                    </textarea>
                    <textarea id="QuestionDefaultSettingJson" name="QuestionDefaultSettingJson" style="display:none">
                        [
                        {
                        "type": 1,
                        "title": "单项选择题描述",
                        "options": [
                        {
                        "text": "选项A",
                        "score": 1,
                        "checked": false,
                        "remarkable": false,
                        "remark": "",
                        "associationId": 0
                        },
                        {
                        "text": "选项B",
                        "score": 0,
                        "checked": false,
                        "remarkable": false,
                        "remark": "",
                        "associationId": 0
                        },
                        {
                        "text": "其它",
                        "score": 0,
                        "checked": false,
                        "remarkable": true,
                        "remark": "",
                        "associationId": 0
                        }
                        ],
                        "remark": "单项选择题备注",
                        "active": false
                        },
                        {
                        "type": 2,
                        "title": "多项选择题描述",
                        "options": [
                        {
                        "text": "选项A",
                        "score": 1,
                        "checked": false,
                        "remarkable": false,
                        "remark": "",
                        "associationId": 0
                        },
                        {
                        "text": "选项B",
                        "score": 0,
                        "checked": false,
                        "remarkable": false,
                        "remark": "",
                        "associationId": 0
                        },
                        {
                        "text": "其它",
                        "score": 0,
                        "checked": false,
                        "remarkable": false,
                        "remark": "",
                        "associationId": 0
                        }
                        ],
                        "remark": "多项选择题备注",
                        "active": false
                        },
                        {
                        "type": 3,
                        "title": "问答题描述",
                        "remark": "请在此填写答案",
                        "active": false
                        },
                        {
                        "type": 4,
                        "title": "评分题描述",
                        "score": 10,
                        "remark": "评分题备注",
                        "active": false
                        },
                        {
                        "type": 5,
                        "title": "矩阵选择题描述",
                        "subQuestions": [
                        {
                        "text": "问题一",
                        "id": ""
                        },
                        {
                        "text": "问题二",
                        "id": ""
                        },
                        {
                        "text": "问题三",
                        "id": ""
                        }
                        ],
                        "options": [
                        {
                        "text": "选项A",
                        "score": 1,
                        "checked": false,
                        "remarkable": false,
                        "remark": ""
                        },
                        {
                        "text": "选项B",
                        "score": 0,
                        "checked": false,
                        "remarkable": false,
                        "remark": ""
                        },
                        {
                        "text": "选项C",
                        "score": 0,
                        "checked": false,
                        "remarkable": false,
                        "remark": ""
                        }
                        ],
                        "remark": "矩阵选择题备注",
                        "active": false
                        }
                        ]
                    </textarea>
                </div>
            </form>
        </div>
    </div>

    <script src="/Scripts/LMS/common.res.zh-CN.js"></script>
    <script src="/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/modernizr.min.js"></script>
    <script src="/Scripts/kendo/2014.3.1119/kendo.ui.core.min.js"></script>
    <script src="/Scripts/Lightbox2.6/js/modernizr.custom.js"></script>
    <script src="/Scripts/Lightbox2.6/js/lightbox-2.6.min.js"></script>

    <script src="/Scripts/custom.js"></script>
    <script src="/Scripts/LMS/base.js"></script>
    <script src="/Scripts/portamento.js"></script>
    <script src="/Scripts/LMS/QCS/paperdesgner.js"></script>
    <script type="text/javascript">
        $(function () {
            var data = JSON.parse($("#QuestionJson").val());

            var vm = PaperDesigner.init(data);

            $("#btnSubmit").click(function () {
                var json = JSON.stringify(vm.getConfigJson());
                var totalScore = vm.getPaperFullScore();

                $("#QuestionJson").val(json);

                var queryArg = {
                    QuestionJson: json,
                    AsPercent: $("#AsPercent").prop("checked"),
                    ID: $("#ID").val(),
                    IntervalDays: $("#IntervalDays").val(),
                    MaxRemindTimes: $("#MaxRemindTimes").val(),
                    Name: $("#Name").val(),
                    RemindDays: $("#RemindDays").val(),
                    Type: $("#Type").val(),
                    ValidDays: $("#ValidDays").val(),
                    totalScore: totalScore
                };

                lms.ajaxMvc({
                    url: "/QCS/Paper/Edit/40",
                    data: queryArg,
                    success: function (result) {
                        lms.processAjaxResult(result)
                    }
                });

                return false;
            });
        });
    </script>
</body>

</html>