<script src="{{ .Site.BaseURL }}js/jquery-2.1.0.min.js"></script>
<script type="text/javascript">
done = false;
$(document).ready(function(){
  
});
</script>
{{ if eq .Section "post" }}
<script type="text/javascript">
$(document).ready(function(){
  
});
</script>
{{ end }}
<script type="text/javascript">
$(document).ready(function(){
  
});
</script>
{{ if or (eq .Section "tag") (eq .Section "category") }}
<script type="text/javascript">
$(document).ready(function(){
  
  });
</script>
{{ end }}
{{ if and (eq .Section "post") (.Site.Params.FancyBox) }}

<script type="text/javascript">
$(document).ready(function(){
  $('.article-content').each(function(i){
    $(this).find('img').each(function(){
      if ($(this).parent().hasClass('fancybox')) return;
      var alt = this.alt;
      if (alt) $(this).after('<span class="caption">' + alt + '</span>');
      $(this).wrap('<a href="' + this.src + '" title="' + alt + '" class="fancybox"></a>');
    });
    $(this).find('.fancybox').each(function(){
      $(this).attr('rel', 'article' + i);
    });
  });
  if($.fancybox){
    $('.fancybox').fancybox();
  }
});
</script>
{{ end }}
{{ partial "google_analytics.html" . }}
