<article class="post preview" itemscope="" itemtype="http://schema.org/BlogPosting">

  {{ partial "article_header.html" . }}

  <div class="post-content" itemprop="articleBody">
    {{ .Content }}
  </div>
  
</article>
<!--
  <div class="post-donate">
    <p><i class="fa fa-rmb"></i> 打赏几块钱，帮我买杯咖啡吧，谢谢大家！<button class="btn s2 fr" onclick="$('#alipay-form').submit();"><i class="fa fa-cny"> 打赏支持</i></button></p>
    <div class="post-donate-img">
      <p>支付宝二维码</p>
      <img src="img/alipay.png">
    </div>
    <form id="alipay-form" action="https://shenghuo.alipay.com/send/payment/fill.htm" method="POST" target="_blank" accept-charset="GBK">
      <input type="hidden" name="optEmail" value="">
      <input type="hidden" name="payAmount" value="">
      <input type="hidden" name="title" value="打赏：《蓟门秋》-燕然">
    </form>
  </div>
  <p></p>
  <div class="bdsharebuttonbox">
    <a href="#" class="bds_more" data-cmd="more"></a>
    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
    <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
    <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
    <a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
    <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
    <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
    <a href="#" class="bds_mail" data-cmd="mail" title="分享到邮件分享"></a>
    <a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a>
    <a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
  </div>
  <div class="post-footer">
    <section class="author">
      <div class="author-ava"><img src="/img/avatar.png">
      </div>
      <p></p>
      <p itemprop="keywords" class="tags"> 标签: {{ if isset .Params "tags" }} {{ if not (eq (len .Params.tags) 0) }} {{ range .Params.tags }}
        <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a> {{ end }} {{ end }} {{ end }}</p>
    </section>
  </div>

<ul class="post-near">
  <li>上一篇: <a href="#/archive/8/" title="随感">随感</a></li>
  <li>下一篇: 没有了</li>
</ul> -->