<article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
    <h2 class="post-title" itemprop="name headline"><a itemtype="url" href="{{ .Permalink }}"> {{ .Title }}</a></h2>
    <ul class="post-meta">
        {{ if and (isset .Params "author") (isset .Params "author_homepage") }}
        <li itemprop="author" itemscope="" itemtype="http://schema.org/Person"><i class="fa fa-user"></i> <a itemprop="name" href="{{ .Params.author_homepage }}" rel="author">{{ .Params.author }}</a></li>
        {{ else }}
        <li itemprop="author" itemscope="" itemtype="http://schema.org/Person"><i class="fa fa-user"></i> <a itemprop="name" href="{{ .Site.Params.AuthorHomepage }}" rel="author">{{ .Site.Author.Name }}</a></li>
        {{ end }} {{ if isset .Params "categories" }} {{ if not (eq (len .Params.categories) 0) }} {{ $cate := (index .Params.categories 0)}}
        <li><i class="fa fa-book"></i> <a href="{{ $.Site.BaseURL }}categories/{{ $cate | urlize }}">{{ $cate }}</a></li>
        {{ end }} {{ end }}
        <li><i class="fa fa-clock-o"></i>
            <time datetime="{{ .Date.Format .Site.Params.DateFormat }}" itemprop="datePublished">{{ .Date.Format .Site.Params.DateFormat }}</time>
        </li>
    </ul>
    <div class="post-content" itemprop="articleBody">
        {{ .Summary }} </div>
</article>