<div class="page-title clearfix">
    <ul class="navigation clearfix">
        <li><a href="/">首页</a> »</li>
        <li class="active"><a href="javascript:;">最近更新</a></li>
        <li class="search">
            <form class="search-form" method="post" action="./" role="search">
                <input type="text" name="s" class="text" placeholder="输入关键字搜索" autocomplete="off">
                <button type="submit" class="btn s3"><i class="fa fa-search"></i></button>
            </form>
        </li>
    </ul>
</div>