{{ partial "head.html" . }}

<body>
  {{ partial "sidebar.html" . }}
  <div class="wrapper">
    <div class="main">
      {{ partial "header.html" . }}
      <div id="main-container" class="main-container">
        {{ range .Data.Pages.GroupByDate "2006-01" }}
        <h2 id="{{ .Key }}">{{ .Key }}</h2>
        {{ range sort .Pages "Date" "desc"}}
        <li>
          {{ .Date.Format "02日" }} <a itemtype="url" href="{{ .Permalink }}"> {{ .Title }} </a></li> {{ end }} {{ end }}
      </div>
    </div>
  </div>
  
  {{ partial "footer.html" . }}
</body>

</html>